input {
    margin-right: 20px;
    width: 300px;
    height:30px;
    padding-left: 10px;
    font-size: 16px;
}
button {
    height: 36px;
    width: 60px;
    border-radius: 5px;
    border: 2px solid gray;
}
button:hover{
    background: darkslategray;
    cursor: pointer;
    color: white;
    border: 2px solid lemonchiffon;

}
.theList li{
    color: #282c34;
    background: lemonchiffon;
    padding: 15px;
    margin-bottom: 15px;
    margin-left: 31%;
    border-radius: 5px;
    width: 367px;
    border: 1px solid black;
    list-style: none;
}